/* Applies to every device, but design for phone */

h2 {
	font-size: 26px;
	font-weight: 300;
}

h3 {
	font-size: 22px;
	font-weight: 300;	
}

.jumbotron {
	background: url(../images/ed_background.jpg);
	background-size: 600px 400px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
}

.jumbotron .container {
	padding-left: 0px;
	padding-right: 0px;
}

img#logo {
	width: 125px;
	height: 125px;
}

img#cala-learn {
	width: 300px;
	height: 76px;	
}

img#app-store {
	padding-top: 40px;
	width: 214px;
	height: 104px;
}

div#app-in-phone {
	display: none;
}

#short-description {
	background-color: #FB1D69;
	color: #fff;
}

#modules {
}

#modules p, #modules h3, #modules h4 {
	text-align: left;
}

.cl-badge {
	width: 140px;
	height: 140px;
}

footer {
	background-color: #6296F4;
	color: #fff;
}

/* Media Queries */

@media only screen and (min-width: 480px) {
  /* 480 =============== iphone landscape ================ */
	
	div#app-in-phone {
		display: normal;
	}
}
@media only screen and (min-width: 600px) {
  /* 600 ================================================= */
}
@media only screen and (min-width: 768px) {
  /* 768 =============== ipad portait ==================== */
}
@media only screen and (min-width: 992px) {
  /* 992 ================================================= */
}
@media only screen and (min-width: 1382px) {
  /* 1382 ================================================ */
  body {
    max-width: 1440px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}


















/*#ELS, #reading {
	float: right;
	display: inline;
	margin-left: 10px;
}

#apps-container {
	height: 500px;
}

.col-lg-4-fix {
	padding-left: 20px;
	padding-right: 20px;
}*/
/*.jumbotron.container {
	max-width: 600px;
	margin: 0px auto;
}*/

/*header {
	height: 400px;
	background: url(../images/ed_background.jpg);
	background-size: 600px 400px;
	padding-top: 30px;
	display: block;
}*/

/*#cala-learn-container {
	max-width: 600px;
	position: relative;
	margin: 0px auto;
	text-align: center;
}

#cala-learn-container img {
	display: block;
	margin: 0px auto;
}*/

/*h2, h3 {
	text-align: center;
}

h2, h3, h4 {
	font-family: "Open Sans";
}*/

/*#short-description {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 10%;
	padding-left: 10%;
	background-color: #FB1D69;
	color: #fff;
}

#short-description h2 {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.2;
}

.marketing {
	padding: 3px;
	margin: 0 auto;
}

#apps-container {
	width: 100%;
	position: center;
	height: 850px;
}

.col-lg-4-fix {
	width: 100%;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
}

#ELS {
	width: 200px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#reading {
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

footer .whole-width-container {
	margin-top: 40px;
	background-color: #6296F4;
}

footer .whole-width-container .featurette-heading {
	color: #fff;
	font-size: 20px;
	padding: 20px 20px 20px 20px;
}*/

/*
h1 {
	margin-right: -3000px;
	float: right;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.col-lg-4-fix {
	width: 460px;
	border-left: 1px solid #ddd;
	text-align: left;
	padding-right: 30px;
	padding-left: 30px;
}

.whole-width-container {
	width: 100%;
	background-color: #FB1D69;
	padding-top: 15px;
	padding-bottom: 40px;
	padding-right: 15%;
	padding-left: 15%;
}

header {
	height: 567px;
	background: url(../images/ed_background.jpg);
	margin-top: -20px;
	padding-top: 50px;
}

#container-to-center {
	width: 1000px;
	position: center;
	height: 100px;
}

header #container-to-center .container-left {
	width: 350px;
	float: left;
	text-align: center;
	padding: 20px;
}

header #container-to-center .container-right {
	width: 420px;
	margin-left: 100px;
	float: left;
}

header #container-to-center .container-left img {
	margin-top: 20px;
}

.marketing {
	padding: 3px;
	margin: 0 auto;
}

.featurette-heading {
	font-family: "Open Sans";
	font-size: 50px;
	font-weight: 300;
	color: #2E3E50;
	line-height: 1.2;
	text-align: center;
}

.whole-width-container .featurette-heading {
	color: #fff;
	font-size: 32px;
}

.featurette-heading-redux {
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 200;
	color: #6296F4;
}

footer .whole-width-container {
	margin-top: 40px;
	background-color: #6296F4;
}

footer .whole-width-container .featurette-heading {
	color: #fff;
	font-size: 32px;
	padding-bottom: 80px;
}
*/
/* CORRECTS FOR VARYING BROWSER WIDTH */
/*
@media (max-width: 1199px) {

.col-lg-4-fix {
	width: 480px;
	border-left: none;
	text-align: left;
	padding-right: 0px;
	padding-left: 0px;
}

#container-to-center {
	height: 900px;
}

}
*/