/* This is where we put our custom changes. */

/*@our_base_color: #f938ab;

body {
	background-color: @our_base_color;
}

#short-description {
	h2 {
		color: @our_base_color;
		.hide-text();
	}
}*/

h2 {
	color: #fff;
	margin-top: 0px;
	font-family: "Open Sans";
	font-weight: 300;
	letter-spacing:-0.02em;
	.center-block();
	@media(max-width: @screen-xs-max) {
		font-size: 20px;
		font-weight: 400;
	}
	@media(min-width: @screen-sm) {
		font-size: 30px;
		width: 700px;
	}
	@media(min-width: @screen-md) {
		font-size: 35px;
		width: 900px;
	}
	@media(min-width: @screen-lg) {
		font-size: 40px;
		width: 1200px;
	}
}

#modules h2 {
	color: #2E3E50;
	font-size: 40px;
	font-weight: 300;
	letter-spacing:-0.07em;
	.center-block();
	text-align: center;
	margin-bottom: 45px;
	width: 100%;
	@media(min-width: @screen-lg) {
		font-size: 50px;
	}
}

footer #short-description h2 {
	padding-bottom: 100px;
	@media(min-width: @screen-sm) {
	padding-top: 30px;
	}
	@media(min-width: @screen-lg) {
	padding-top: 40px;
	}
}

h3 {
	font-family: "Open Sans";
	font-weight: 700;
}

h4 {
	
}

h5 {
	
}

header {
	background: url("../images/ed_background.jpg") no-repeat;
	@media(max-width: @screen-xs-max) {

	}
	@media(min-width: @screen-md) {
		background-size: 100%;
	}
	.container-fixed();
	
	#masthead {
		
		@media(min-width: @screen-md) {
			width: 800px;
			.center-block();
			/*background-color: #0ff;*/
		}
		.make-row();
		
		#brand {
			margin-top: 30px;
			margin-bottom: 30px;
			
			@media(min-width: @screen-sm) {
				.make-sm-column(6)
			}
			
			@media(min-width: @screen-lg) {
				.make-lg-column(5);
				margin-top: 90px;
			}

			img {
				.center-block();
			}
			#logo {
				width: 125px;
				height: 125px;
			}
			#cala-learn {
				width: 290px;
				height: 72px;
			}
			#app-store {
				padding-top: 40px;
				width: 214px;
				height: 104px;
			}
		}
		#phone {
			.responsive-invisibility();

			@media(min-width: @screen-sm) {
				.responsive-visibility();
				.make-sm-column(6);
				padding-top: 30px;
				#phone-image {
					width: 320px;
					height: 394px;
				}
			}	
			@media(min-width: @screen-lg) {
				.make-lg-column(7);
				#phone-image {
				width: 420px;
				height: 517px;
				}	
			}
		}
	}
}

#short-description {
	background-color: #FB1D69;
	text-align: center;
	@media(max-width: @screen-xs-max) {
		padding: 15px 15px 15px 15px;
	}
	@media(min-width: @screen-sm) {
		padding: 20px 15px 20px 15px;
	}
	@media(min-width: @screen-lg) {
		padding: 25px 15px 25px 15px;
	}
}

footer #short-description {
	background-color: #6296F4;
	padding-bottom: 15px;
}

main {

	#modules {
		.make-row();
		.center-block();
		#reading-module {
	    	.make-sm-column(6);
		}
		#els-module {
	    	.make-sm-column(6);
			@media(min-width: @screen-sm) {
				border-left: solid 1px #eee;
			}
	  	}
		#cl-badge {
			width: 200px;
			height: 148px;
			.center-block();
		}
		@media(max-width: @screen-xs-max) {
			padding: 15px 15px 15px 15px;
			margin-top: 20px;
		}
		@media(min-width: @screen-sm) {
			padding: 20px 15px 20px 15px;
			width: 700px;
			margin-top: 50px;
		}
		@media(min-width: @screen-lg) {
			padding: 25px 15px 25px 15px;
			width: 900px;
		}
		margin-bottom: 60px;
	}
	
	#modules p {
		margin-bottom: 50px;
	}
}
footer {
	.container-fixed();
	padding-left: 0px;
	padding-right: 0px;
}

footer p {
	text-align: left;
	color: #fff;
	font-size: 10px;
}